body {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Permanent Marker', cursive;
    background-color: aliceblue;
    text-align: center;
    color:hotpink;
  };

  main {
    flex: 1 0 auto;
  };

  #bella {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }